select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    height: 48px;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}

.select {
    position: relative;
    width: 329px;
    margin: 0 auto;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    align-items: center;
}

.select::after {
    content: "";
    width: 0.8em;
    height: 0.8em;
    background-color: var(--select-arrow);
    clip-path: polygon(0 0, 49% 53%, 100% 0);
    display: grid;
    grid-template-areas: "select";
    justify-self: end;
    position: absolute;
    left: 300px;
    top: 25px;
}

select,
.select:after {
    grid-area: select;
}